<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ControlActividades</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="app-main" style="display:flex; min-height:100vh;">
        <main class="app-content" style="flex:1; padding:20px;">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Control Actividades</p>
            </footer>
        </main>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <!--SPINNER DE CARGA-->
    <div id="loader" class="carga">
        <div class="spinner"></div>
        <div class="texto-carga">Cargando..</div>
    </div>
    <link href="~/Content/Componentes/carga.css" rel="stylesheet" />
    <script src="~/Scripts/Componentes/PantallaCarga.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    @RenderSection("Scripts", required: false)
    @RenderSection("Styles", required: false)
</body>
</html>
