@* Partial sidebar responsivo para Alumno / Docente *@
@using System.Security.Principal
@{
    var isDocente = User.IsInRole("Docente");
    var isAlumno = User.IsInRole("Alumno");
}
<nav class="app-sidebar" id="appSidebar" role="navigation" aria-label="Sidebar">
    <div class="sidebar-left">
        <button id="sidebarToggle" class="sidebar-toggle" aria-label="Alternar menú">
            <span class="hamburger"></span>
        </button>

        <ul class="sidebar-icons">
            <li class="icon-item" data-target="menu-home" title="Inicio">
                <svg viewBox="0 0 24 24" class="icon"><path d="M3 11.5L12 4l9 7.5V20a1 1 0 0 1-1 1h-5v-6H9v6H4a1 1 0 0 1-1-1z"/></svg>
            </li>
            <li class="icon-item" data-target="menu-actividades" title="Actividades">
                <svg viewBox="0 0 24 24" class="icon"><path d="M3 13h8V3H3v10zm0 8h8v-6H3v6zM13 21h8V11h-8v10zm0-18v6h8V3h-8z"/></svg>
            </li>
            <li class="icon-item" data-target="menu-calendario" title="Calendario">
                <svg viewBox="0 0 24 24" class="icon"><path d="M7 10h5v5H7z"/><path d="M19 4h-1V2h-2v2H8V2H6v2H5a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2zM5 20V9h14l.002 11H5z"/></svg>
            </li>
            <li class="icon-item" data-target="menu-perfil" title="Perfil">
                <svg viewBox="0 0 24 24" class="icon"><path d="M12 12a5 5 0 1 0 0-10 5 5 0 0 0 0 10z"/><path d="M2 22c0-4 4-6 10-6s10 2 10 6v1H2v-1z"/></svg>
            </li>
        </ul>
    </div>

    <div class="sidebar-content" id="sidebarContent">
        <div class="sidebar-header">
            <h4>ControlActividades</h4>
        </div>

        <div class="menu-section" id="menu-home">
            <h5 class="menu-title">Inicio</h5>
            <ul class="menu-list">
                <li>@Html.ActionLink("Dashboard", "Index", "Home")</li>
                @if (isDocente)
                {
                    <li>@Html.ActionLink("Mis Materias", "Index", "Docente")</li>
                    <li>@Html.ActionLink("Crear Grupo", "CrearGrupo", "Docente")</li>
                }
                @if (isAlumno)
                {
                    <li>@Html.ActionLink("Mis Clases", "Index", "Alumno")</li>
                    <li>@Html.ActionLink("Unirse a Clase", "Unirse", "Alumno")</li>
                }
            </ul>
        </div>

        <div class="menu-section" id="menu-actividades">
            <h5 class="menu-title">Actividades</h5>
            <ul class="menu-list">
                @if (isDocente)
                {
                    @* Abrir modal de creación si existe; navegar a EvaluarActividades para la vista docente *@
                    <li><a href="#" data-bs-toggle="modal" data-bs-target="#crearActividadModal">Crear Actividad</a></li>
                    <li>@Html.ActionLink("Evaluar Actividades", "EvaluarActividades", "Docente")</li>
                }
                else if (isAlumno)
                {
                    <li>@Html.ActionLink("Ver Actividades", "Actividades", "Alumno")</li>
                    <li>@Html.ActionLink("Mis Entregas", "MisEntregas", "Alumno")</li>
                }
            </ul>
        </div>

        <div class="menu-section" id="menu-calendario">
            <h5 class="menu-title">Calendario</h5>
            <ul class="menu-list">
                <li>@Html.ActionLink("Calendario", "Calendario", "Home")</li>
            </ul>
        </div>

        <div class="menu-section" id="menu-perfil">
            <h5 class="menu-title">Cuenta</h5>
            <ul class="menu-list">
                <li>@Html.ActionLink("Perfil", "Index", "Manage")</li>
                <li>@Html.ActionLink("Cerrar sesión", "LogOff", "Account")</li>
            </ul>
        </div>
    </div>
</nav>