@{ 
    Layout = null;
    ViewBag.Title = "Validar email";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="@Url.Content("~/Content/Iconos/logo2.svg")" type="image/x-icon" />
    <!--<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">-->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link href="@Url.Content("~/Content/Login/Login.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Variables/colors.css")" rel="stylesheet" />
    <title>Validar correo</title>
</head>
<body>


    <!--Contenedor de logo y form-->
    <div class="auth-container">
        <!--LEFT-->
        <div class="left-side">
            <img src="~/Content/Iconos/logo2.svg" alt="Logo" class="logo-img" />
            <h2 class="welcome-text">Bienvenido</h2>
        </div>
        <!--RIGHT-->
        <div class="right-side">
            <div class="form-wrapper">
                <div class="login-header">
                    <header>Ingresa tu correo electrónico</header>
                </div>
                @using (Html.BeginForm("ValidateEmail", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="input-box">
                        <input name="email" type="text" class="input-field" id="email" autocomplete="off" required />
                        <label for="email">Correo electrónico</label>
                    </div>
                    <div class="input-box">
                        <input type="submit" class="input-submit" value="Verificar" />
                    </div>
                }

            </div>
        </div>
    </div>

</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@section Styles{
    <link href="@Url.Content("~/Content/Login/Login.css")" rel="stylesheet" />
}